@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&family=Open+Sans:ital,wght@0,400;0,500;1,400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  /* font-family: "Open Sans", sans-serif; */
  font-size: 0.9rem;
}
body {
  background-color: #007aff;
  color: #fff;
  display: flex;
}
.sidebar {
  background-color: #007aff;
  width: 250px;
  padding: 30px;
}
.logo {
  width: 70px;
  height: 70px;
}
.dashboard {
  width: 100%;
}
.links li {
  padding: 10px 20px;
  margin: 20px 0;
  list-style: none;
  border-radius: 8px;
}
.links li.active {
  background: #fff;
}
.links a {
  text-decoration: none;
  font-weight: 500;
  color: #fff;
}
.links li.active a {
  color: #007aff;
}
nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.hamburger {
  display: none;
  padding: 5px 7px;
  border: none;
  background: none;
  border-radius: 4px;
  cursor: pointer;
}
.nav-links {
  display: flex;
  align-items: center;
}
.nav-links > * {
  padding: 10px;
}
.nav-links li,
.nav-links button {
  list-style: none;
  display: flex;
  align-items: center;
  text-align: start;
}
button.user {
  background: transparent;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
}
.nav-links a {
  text-decoration: none;
  color: #fff;
}
.nav-links img {
  padding-right: 10px;
}
main {
  background: #fff;
  color: #141414;
  display: grid;
  grid-template-columns: 2fr 1fr;
  padding: 20px;
  gap: 40px;
}
h1 {
  padding-bottom: 15px;
  font-size: 1.5rem;
  font-weight: 700;
}
form {
  box-shadow: 0 5px 5px #fafaf7;
  border-radius: 7px;
  border: 1px solid #fafaf7;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  margin-bottom: 15px;
}
form input {
  padding: 10px;
  border: none;
  outline: none;
  height: 100%;
  width: 100%;
}
.secondary-heading {
  font-size: 1.2rem;
  padding-bottom: 20px;
}
table {
  width: 100%;
  text-align: left;
  margin: 0;
  margin-bottom: 30px;
}
.appt-grid {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 20px;
}
tr {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
th {
  background: #f9fafa;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
td {
  padding: 10px;
  border-bottom: 1px solid #fafaf7;
}
.appt-grid img {
  cursor: pointer;
}
.stats {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
}
.card {
  background: #007aff;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #fff;
}
.percent {
  background: #fff;
  color: #007aff;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-weight: 700;
}
.prescription tr {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.prescription img {
  cursor: pointer;
}
.prescription button {
  padding: 5px 7px;
  color: #007aff;
  border-radius: 5px;
  border: 1px solid #c9c8c8;
}
.box {
  background: #fafaf7;
  padding: 10px 15px;
  border-radius: 8px;
  margin-bottom: 20px;
}
.remind {
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.remind p {
  display: flex;
  align-items: center;
}
.remind img {
  padding-right: 5px;
}
.more {
  background: none;
  border: none;
  border-radius: 5px;
  padding: 5px 7px;
  color: #007aff;
  font-family: "Open Sans", sans-serif;
  font-style: italic;
  font-weight: 500;
  font-size: 1rem;
  display: flex;
  margin: 0 auto;
  cursor: pointer;
}
.chat {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  align-items: center;
}
.chat-user {
  display: flex;
  align-items: center;
}
.chat-user img {
  margin-right: 10px;
}
.log {
  text-align: center;
}

/* tablet landscape */
@media (max-width: 1200px) {
  main {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 1000px) {
  .sidebar {
    transform: translateX(-100%);
    position: absolute;
    height: 100%;
    transition: 0.5 ease-in-out;
  }
  .sidebar.active {
    transform: translateX(0);
  }
  .links li {
    padding: 10px 5px;
  }
  nav {
    justify-content: space-between;
    padding: 0 15px;
  }
  .hamburger {
    display: initial;
    position: relative;
    z-index: 2;
  }
}
@media (max-width: 750px) {
  .user img {
    padding: 0;
  }
  .appt-grid {
    grid-template-columns: 1fr;
    margin-bottom: 30px;
    gap: 0;
  }
  .card {
    height: 150px;
  }
  .md-none {
    display: none;
  }
  .prescription tr {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}
